*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
	
header{
background-image:linear-gradient(to right ,rgb(29, 122, 165),rgb(199, 207, 221), rgba(0,0,0,0.1)), url("images/banner2.jpg");
background-repeat: no-repeat;
background-size:contain;
height:60vh;
width:100%;
background-position: right;
}
nav{
	width:100%;
	height: 13vh;
	display:flex;
	justify-content:space-around;
	align-items:center;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.5);	
	color:white;
}	
.left-nav{
    width:60%;
    display:flex;
	align-items:center;
}
.left-nav .logo{
	width:20%;
    text-align:center;
    margin:0px 5%;
}
.left-nav .menu{
	width:50%;
	display:flex;
	justify-content: space-between;
}
.left-nav .menu a{
	text-decoration:none;
	color:white;
}
.right-nav{
    width:40%;
    text-align:right;
    margin-right:30px;
}
.right-nav .sign-in a{
    border:1px solid white;
    text-decoration:none;
    color:white;
    padding: 8px;
}
.banner-area {
    text-align:left;
    margin:6% 0px 0px 10%;
    width:35%;
    color:white;
}

/*Branches section*/
.branches{
    width:75%;
    margin:2.5% 0px 2.5% 4% ;
    display:flex;
   
}
.branches a{
    text-decoration: none;
    border:1px solid black;
    color:black;
    padding:8px 28px;
}
.mechanical{
    background-color:#00ADBC;
}
.computer-science a{
    color:white;
}

/*Aside section*/
aside {
    display: inline-block;
    width:20%;
    margin-left: 3%;
    vertical-align: top;
}
.select{
margin:15px 0px 30px 0px;
width:50%;
color:dimgray;
padding:4px;
}
aside h3{
    border-bottom:1px solid grey;
    width:50%;
    color:#696969;
}

/*main section*/
main{
    display:inline-block;
    width:70%;
}
.course-display{
	width: 100%;
	display:flex;
	flex-wrap:wrap; 
	justify-content:space-around;  
	margin-bottom:30px;
}
.course-box{
	border:1px solid #dadadb9d;
	width:15rem;
    height:17rem;
}
div.polaroid{
    background-color: white;
    margin-bottom: 25px;
  }
  div.polaroid:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  div.polaroid img{
    width: 15rem;
    height:65%;
  }
  div.container {
    text-align: center;
    padding: 15px 20px;
    font-size:1.2rem;
    height:40%;
  }
  .start-button{
    margin:5px auto;
    background-color: rgb(34, 136, 184);
    color:white;
    max-width: 145px;
    padding: 9px 22px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom:50px;
    border:none;
  }
  .container button a{
    text-decoration:none;
    color:white;
}

  /*footer section*/
  footer{
	width:100%;
	height: 16vh;
	display:flex;
	justify-content:space-around;
	align-items:center;
	text-transform: uppercase;
	background-color: rgba(150, 149, 149, 0.5);	
	color:rgb(66, 65, 65);
}
.right-nav .menu a{
	text-decoration:none;
	color:black;
}
footer .right-nav .menu a{
    margin-right:10px;
}
